@charset "utf-8";

body {
  font: 100% Verdana, Arial, Helvetica, sans-serif;
  /*background: #666666; */
  margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
  padding: 0;
  text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
  color: #000000;
  min-height: 100% !important;
}

.VisualizationMainPage #mainContent {
  /*padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
  background: #ffffff;
}

.VisualizationMainPage #container {
  background: #ffffff;
  /*margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
  text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #algoControlSection {
  background: #d0d7ff;
  color: #000000;
  border-radius: 0.8rem;
}

.VisualizationMainPage #generalAnimationControlSection {
  background: #d0d7ff;
  color: #000;
  border-radius: 0.8rem;
}

.VisualizationMainPage #header {
  background: #006633;
  color: #ffcc33;
  padding: 0 10px 0 20px;
}

.VisualizationMainPage #header A:visited {
  text-decoration: none;
  color: #ffcc33;
}

.VisualizationMainPage #header h1 {
  margin: 0;
  padding: 10px 0;
}

.VisualizationMainPage #header A:link {
  text-decoration: none;
  color: #ffcc33;
}

.VisualizationMainPage #container {
  background: #ffffff;
  margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
  text-align: left; /* this overrides the text-align: center on the body element. */
}

.VisualizationMainPage #footer A:visited {
  text-decoration: none;
  color: ffcc33;
}

.VisualizationMainPage #footer A:link {
  text-decoration: none;
  color: #ffcc33;
}

.VisualizationMainPage #mainContent h1 {
  padding: 0 20px;
  background: #ffffff;
  color: #006633;
}

.VisualizationMainPage #mainContent h2 {
  padding: 0 20px;
  background: #ffffff;
  color: #006633;
}

.VisualizationMainPage #mainContent h3 {
  padding: 0 20px;
  background: #ffffff;
  color: #006633;
}

.VisualizationMainPage #footer {
  padding: 0 10px;
  background: #006633;
  color: #ffcc33;
}
.VisualizationMainPage #footer p {
  margin: 0;
  padding: 10px 0;
}

EM {
  text-decoration: bold;
}

#AlgorithmSpecificControls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
}

#AlgorithmSpecificControls > td {
  margin-right: 25px;
  margin-left: 10px;
}
#AlgorithmSpecificControls > td:nth-child(2n) {
  margin-right: 55px;
}

input[type="button"] {
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 0.5rem;
  color: #f50057;
  background: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  cursor: pointer;
}

input[type="button"]:active {
  transform: scale(0.9);
}

#GeneralAnimationControls {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

canvas {
  max-width: 100% !important;
}
